/* Font import */

@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");

/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Twinkle Star", cursive;
}

/* Mobile Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(167.94deg, #252c2b 0%, #1c1e1e 100%);
  color: #fff;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 80rem;
}

.title {
  font-size: 2.6875rem;
  padding: 1.5rem 0;
}

.sword-text {
  color: #ffd773;
}

.bow-text {
  color: #b35f49;
}

.wand-text {
  color: #60b8ff;
}

.game-description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.game-info {
  display: block;
}

.pipe {
  display: none;
}

main {
  flex: 1;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-bottom: 3rem;
}

.card {
  display: grid;
  place-content: center;
  width: 110px;
  height: 100px;
  background-color: #fff4d7;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.disabled-btn {
  opacity: 0.35;
  cursor: initial;
}

.disabled-btn:hover {
  transform: initial;
}

.bow-card {
  background-color: #ffd4c9;
}

.wand-card {
  background-color: #daeeff;
}

.icon {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
}

.game-result {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.play-again {
  display: none;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0 auto 1.5rem;
  color: #fff;
  background-color: rgb(53, 52, 52);
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.enemy-card {
  font-size: 1.25rem;
  max-width: 450px;
  margin: 0 auto 2rem;
  background-color: #322e2e;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.03);
}

.enemy-card-header {
  margin-bottom: 1rem;
}

.enemy-card-title {
  padding: 1rem 0;
}

.enemy-choice {
  display: grid;
  place-content: center;
  width: 110px;
  height: 100px;
  font-size: 1.5rem;
  margin: 0 auto;
  background-color: #fff4d7;
  color: #000;
  border-radius: 1rem;
}

.game-rounds {
  padding: 1rem 0;
}

.game-lives,
.round-result {
  padding-bottom: 1rem;
}

footer {
  margin-bottom: 1rem;
}

/* Small Mobile Layout */

@media (max-width: 22.5rem) {
  .card {
    height: 80px;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .game-lives {
    font-size: 1rem;
  }
}

/* Desktop Layout */

@media (min-width: 50rem) {
  .title {
    font-size: 4.5rem;
  }

  .game-description {
    font-size: 1.75rem;
  }

  .game-info,
  .pipe {
    display: initial;
  }

  .card {
    width: 165px;
    height: 150px;
  }

  .icon {
    width: 6rem;
    height: 6rem;
  }

  .game-result {
    font-size: 3rem;
  }

  .enemy-card {
    display: flex;
    max-width: 50rem;
  }

  .enemy-card-header {
    padding: 0 0 1.5rem 1.5rem;
    margin: 0;
  }

  .enemy-choice {
    font-size: 2rem;
    width: 165px;
    height: 150px;
  }

  hr {
    margin: 0 2rem;
  }

  .enemy-card-body {
    text-align: start;
  }
}
